[buildout]
extends = http://static.voteit.se/defaults-production-arche2.cfg

eggs +=
    voteit.debate
    voteit.irl
    voteit.schulze
    voteit.printable
    pyramid_exclog

eggs -=

[crontab-pack]
# m h   dom mon dow | pack monday night
times = 00 03   * *  1
